# For OpenAI API.
OPENAI_API_KEY=sk-1234567890abcdef1234567890abcdef
OPENAI_API_ENDPOINT=https://api.openai.com

# For AWS Bedrock, Claude API.
AWS_ACCESS_KEY_ID=AKIA123456
AWS_SECRET_KEY_ID=1234567890abcdef1234567890abcdef1234567890
BEDROCK_REGION_NAME_FOR_35=us-west-2
